<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Meal Planner</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">

		<!-- Font Awesome -->
		<link rel="stylesheet" href="assets/fontawesome/css/all.min.css">

		<!-- Materialize -->
		<link type="text/css" rel="stylesheet" href="assets/materialize/css/materialize.min.css"  media="screen,projection"/>
	</head>
	<body>
		{{> _header}}
        <div class="container">
            {{{body}}}
        </div>

		<!--Materialize Script-->
     	<script type="text/javascript" src="assets/materialize/js/materialize.min.js"></script>

		<!-- Init Materialize Animations -->
		<script src="/js/materialize_init.js"></script>
    </body>
</html>
