<div class="wrapper">
    <div class="col">
        <!--Update table such that people can customize their meals-->
        <table>
            <colgroup>
                <col>
                <col class="days" span="7">

            </colgroup>
            <tr class="header">
                <td>&nbsp</td>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
            <tr>
                <th>Breakfast</th>
                <td id="bfSun" class="dropzone selectedmeal">s</td>
                <td id="bfMon" class="dropzone">Mon</td>
                <td id="bfTues" class="dropzone">Tues</td>
                <td id="bfWed" class="dropzone">Wed</td>
                <td id="bfThur" class="dropzone">Thur</td>
                <td id="bfFri" class="dropzone">Fri</td>
                <td id="bfSat" class="dropzone">Sat</td>
            </tr>
            <tr>
                <th>Lunch</th>
                <td id="lunchSun" class="dropzone">Sun</td>
                <td id="lunchMon" class="dropzone">Mon</td>
                <td id="lunchTues" class="dropzone">Tues</td>
                <td id="lunchWed" class="dropzone">Wed</td>
                <td id="lunchThur" class="dropzone">Thur</td>
                <td id="lunchFri" class="dropzone">Fri</td>
                <td id="lunchSat" class="dropzone">Sat</td>
            </tr>
            <tr>
                <th>Dinner</th>
                <td id="dinSun" class="dropzone">Sun</td>
                <td id="dinMon" class="dropzone">Mon</td>
                <td id="dinTues" class="dropzone">Tues</td>
                <td id="dinWed" class="dropzone">Wed</td>
                <td id="dinThur" class="dropzone">Thur</td>
                <td id="dinFri" class="dropzone">Fri</td>
                <td id="dinSat" class="dropzone">Sat</td>
            </tr>
            <tr>
                <th>Snack</th>
                <td id="snackSun" class="dropzone">Sun</td>
                <td id="snackMon" class="dropzone">Mon</td>
                <td id="snackTues" class="dropzone">Tues</td>
                <td id="snackWed" class="dropzone">Wed</td>
                <td id="snackThur" class="dropzone">Thur</td>
                <td id="snackFri" class="dropzone">Fri</td>
                <td id="snackSat" class="dropzone">Sat</td>
            </tr>
        </table>
    </div>
    <div class="col" id="mealform">
        <div id="inglist">
            <div>
                <span>Meal name: </span>
                <input type="text" id="mealname" placeholder="Meal Name" >
            </div>
            <div>
                <span>Ingredient 1: </span>
                <input type="text" id="ing1" placeholder="Ingredient 1" >
            </div>
            <div>
                <span>Ingredient 2: </span>
                <input type="text" id="ing2" placeholder="Ingredient 2" >
            </div>
            <div>
                <span>Ingredient 3: </span>
                <input type="text" id="ing3" placeholder="Ingredient 3" >
            </div>
            <div>
                <span>Ingredient 4: </span>
                <input type="text" id="ing4" placeholder="Ingredient 4" >
            </div>
            <div>
                <span>Ingredient 5: </span>
                <input type="text" id="ing5" placeholder="Ingredient 5" >
            </div>
        </div>
        <div>
            <button id="addingredientbtn">Add More</button>
            <button id="addtocalendar">Add To Calendar</button>
        </div>
        <div id='dragSqr' draggable="true">Drag Me!</div>
    </div>
</div>

<script type="text/javascript" src="js/main.js"></script>